.break{
  margin-top: 25px;
}
/* 1200px and up */
body{
  padding: 0px;
  margin: 0px;
}

.Brand{
  background-color: #6c757d;
  color: white;
  font-family: 'Zen Dots', cursive;
  text-align: center;
  text-decoration: none;
}

.Brandlink{
  background-color: #6c757d;
  color: white;
  font-family: 'Zen Dots', cursive;
  text-align: center;
  text-decoration: none;
}

.Brandlink:hover{
color: #0ff
}

.a{
  text-decoration: none;
}
.BannerFlexlg{
  display: flex;
  flex-direction: row;
  align-items: center;
  width:  100%;
  height: 400px;
  font-family: 'Alex Brush', cursive;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-weight: bold;
  background-image: url("./assets/Images/Homegif.gif");
  background-size: cover;
  background-position-y: 79%;
  color: aliceblue;
  margin-top: 0px;
  padding-top: 0px;
}

.linkedditerlg{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #f7f2f0;
  box-shadow: 2px 5px 5px grey;
  width: 100%;
  height: 50px;
  margin-bottom: 5px;
}

.Navtextlg{
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  margin-right: 30px;
  background-color: transparent;
  font-size: 30px;
  text-decoration: none;
  color: black;
  font-family: 'Alex Brush', cursive;


}


.Navtextlg:hover{
  color:#0868a9;
}

@keyframes createBox {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/*Home page lg*/

.HomePageFlexlg{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 8px;
  background-color: #f7f2f0;
  border-bottom: ridge;
  box-shadow: 2px 5px 5px grey;
}

.HomePageWelcomelg{
  font-family: 'Alex Brush', cursive;
  font-size: 80px;
  color: black;
  margin-top: 50px;
}

.HomePageWelcomePiclg{
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-position-x: 90%;
  text-align: center;
  background-image: url("./assets/Images/Banner.jpg");
  background-size: cover;
  margin-top: 10px;
  margin-bottom: 50px;
}

.HomePageAboutlg{
  font-size: 40px;
  width:690px;
  margin-bottom: 50px;
  font-family: 'Alex Brush', cursive;
}

.HomePageVemmoIconlg{
  height: 100px;
  width: 100px;
  margin-bottom: 50px;
  background-image: url("./assets/Images/venmo-icon.svg");
  background-size: cover;
  animation: coin 4s infinite;
  animation-timing-function: linear;
}

@keyframes coin{
        
  100% {transform:rotatey(360deg) } 

}

.FooterFlexlg{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #f7f2f0;
  border-top: ridge;
  font-family: 'Alex Brush', cursive;
  font-size: 30px;
  padding-top: 30px;
}

.FooterInstagramIconlg{
  height: 50px;
  width: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url("./assets/Images/Instagram.png");
  background-size: cover;
  
}

.Products1Flexlg{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.PlaceHolderProductlg{
  margin-top: 50px;
  margin-bottom: 15px;
  height: 500px;
  width: 500px;
  background-position: center;
  border-radius: 17px;
}

.PlaceholderVenmobuttonlg{
  text-decoration: none;
  font-size: 30px;
  height: 75px;
  width: 300px;
  text-align: center;
  background-color: #3c95cd;
  color: white;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 45px;
  margin-top: 15px;
  margin-bottom: 30px;
}


 /* 575px and down*/
 .BannerFlexsm{
  display: flex;
  flex-direction: row;
  align-items: center;
  width:  100%;
  height: 100px;
  font-family: 'Alex Brush', cursive;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  background-image: url("./assets/Images/Homegif.gif");
  background-size: cover;
  background-position-y: 85%;
  color: aliceblue;
  margin-top: 0px;
  padding-top: 0px;
}

.linkedditersm{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 45px;
  background-color: #f7f2f0;
  box-shadow: 0px 5px 5px grey;
}

.Navtextsm{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #0868a9;
  font-size: 25px;
  width: 100px;
  padding-right: 30%;
  padding-left: 40%;
  text-decoration: none;
  color: white;
  font-family: 'Alex Brush', cursive;
  align-items: center;
  
}

.Navtextsm:focus{
  color: white ;
  /*animation: createBox 0.5s;*/
  animation-iteration-count: 1;
  background-color: #0868a9;
}

.Navtextsm:hover{
  color: #0ff;
}

.HomePageFlexsm{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: 6px;
  background-color: #f7f2f0;
  box-shadow: 2px 5px 5px grey;
}

.HomePageWelcomesm{
  font-family: 'Alex Brush', cursive;
  font-size: 40px;
  color: black;
  margin-top: 15px;
}

.HomePageWelcomePicsm{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-position-x: 90%;
  text-align: center;
  background-image: url("./assets/Images/Banner.jpg");
  background-size: cover;
  margin-top: 10px;
  margin-bottom: 25px;
}

.HomePageAboutsm{
  font-size: 25px;
  width:250px;
  margin-bottom: 50px;
  font-family: 'Alex Brush', cursive;
}


.HomePageVemmoIconsm{
  height: 100px;
  width: 100px;
  margin-bottom: 50px;
  background-image: url("./assets/Images/venmo-icon.svg");
  background-size: cover;
  animation: coin 4s infinite;
  animation-timing-function: linear;
}

.FooterFlexsm{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #f7f2f0;
  font-family: 'Alex Brush', cursive;
  font-size: 30px;
  padding-top: 15px;
  border-top: ridge;
}

.MenuTitlesm{
  font-family: 'Alex Brush', cursive;
  text-align: center;
  background-color:#f7f2f0 ;
  font-size: 15px;
  height: 15px;
  pointer-events: none;
}

.MapIconsm{
  border-radius: 90%;
  height: 50px;
  width: 50px;
  background-image: url("https://cdn1.iconfinder.com/data/icons/medieval-7/128/medieval_gem_diamond_crystal_precious_jewel_stone_treasure-512.png");
  background-size: cover;
  border: none;
  border-color: #f7f2f0;
}
.MapIconsm:focus{
    animation: Gemspin 0.5s;
}

@keyframes Gemspin{
        
  100% {transform:rotatez(540deg) } 

}

.linkFlexsm{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

/* Products1 Page*/
.Products1Titlesm{
  text-align: center;
  background-color:#f7f2f0 ;
  font-size: 40px;
  font-family: 'Alex Brush', cursive;
  padding-top: 25px;

}

.Products1Flexsm{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.Product1ProductFlexsm{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  background-color:#f7f2f0 ;
}

.PlaceHolderProductsm{
  margin-top: 50px;
  margin-bottom: 15px;
  height: 275px;
  width: 250px;
  background-position: center;
  border-radius: 17px;
}

.PlaceHolderTitlesm{
  text-align: center;
  background-color:#f7f2f0 ;
  font-size: 30px;
  font-family: 'Alex Brush', cursive;
}

.PlaceholderProduct1Pricesm{
  font-family: 'Alex Brush', cursive;
  font-size: 30px;
  text-align: center;
  background-color:#f7f2f0 ;
  padding-top: 10px;

}

.PlaceholderVenmobuttonsm{
  text-decoration: none;
  font-size: 20px  ;
  height: 50px;
  width: 175px;
  text-align: center;
  background-color: #3c95cd;
  color: white;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 45px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.VenmoButtonFlexsm{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  background-color:#f7f2f0;
  width: 100%;
  align-items: center;
  justify-content: center;
}



.RulesTitleLg{
  margin-top: 100px;
  text-align: center;
  font-size: 80px;
  font-family: 'Alex Brush', cursive;
  color: #3c95cd;
}

.RulesTitleSm{
  margin-top: 40px;
  text-align: center;
  font-size: 75px;
  font-family: 'Alex Brush', cursive;
  color: #3c95cd;
}

.RuleLg{
  color: #3c95cd;
}

.RuleSm{
  color: #3c95cd;
  font-size: 25px;
  margin-bottom: 10px;
  font-family: 'Alex Brush', cursive;
}

.HomePagePromiseLg{
  text-align: center;
  font-size: 80px;
  color: #3c95cd;
  font-family: 'Alex Brush', cursive;
  margin-top: 100px;
}

.HomePagePromiseSm{
  text-align: center;
  font-size: 47px;
  color: #3c95cd;
  font-family: 'Alex Brush', cursive;
  margin-top: 50px;
}

.PromisetextLg{
  color: #3c95cd;
  font-family: 'Alex Brush', cursive;
  text-align: center;
}